*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  min-height: 100dvh;
}

body {
  background-image: url("../../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(243, 100%, 93%);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: grid;
  place-content: center;
}
@media (min-width: 1028px) {
  body {
    background-image: url("../../images/bg-desktop.png");
    background-size: contain;
    background-position-y: bottom;
    background-color: hsl(229, 57%, 11%);
  }
}

.bold {
  font-weight: 700;
}

.black {
  color: hsl(229, 57%, 11%);
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
@media (min-width: 1028px) {
  main {
    flex-direction: row;
  }
}

.header {
  padding: 3rem;
  background-color: hsl(228, 56%, 26%);
  width: 86dvw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 10px 7rem 10px 10px;
}
@media (min-width: 1028px) {
  .header {
    width: 35dvw;
    max-width: 400px;
  }
}
.header__actions {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.header__actions--action {
  all: unset;
  padding: 12px;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  display: grid;
  place-content: center;
  transition: transform 0.2s ease-in-out;
}
.header__actions--action:hover, .header__actions--action:focus-within {
  background-color: hsl(228, 56%, 26%);
  outline: 3px solid hsl(229, 57%, 11%);
  transform: scale(1.1);
}

.storage__progressbar {
  padding-bottom: 10px;
}
.storage__progressbar--progressbar {
  height: 1.5rem;
  width: 100%;
  background-color: #121a40;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}
.storage__progressbar--progressbar__bar {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 1.5rem;
  height: calc(1.5rem - 6px);
  width: 81.5%;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  transform-origin: center left;
  animation: slideout 1s ease-in-out;
}
.storage__progressbar--progressbar__bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  height: calc(1rem - 2px);
  width: calc(1rem - 2px);
  background-color: hsl(243, 100%, 93%);
}
.storage__progressbar--hero {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0.5rem;
}
.storage__progressbar--hero span:nth-child(1) {
  margin-right: auto;
}

.storage {
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: hsl(228, 56%, 26%);
  position: relative;
  justify-content: center;
}
.storage--text {
  text-align: center;
}
@media (min-width: 1028px) {
  .storage--text {
    text-align: unset;
  }
}
.storage--left {
  text-transform: uppercase;
  font-size: 2.5rem;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  background-color: #fff;
  color: hsl(229, 57%, 11%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
}
.storage--left .small {
  font-size: 14px;
}
.storage--left p {
  display: flex;
  gap: 10px;
  flex-flow: row nowrap;
  align-items: center;
  color: hsl(229, 7%, 55%);
  letter-spacing: 1px;
}
@media (min-width: 1028px) {
  .storage--left {
    bottom: unset;
    left: unset;
    top: 0;
    right: 30px;
    transform: translateY(-60%);
    border-bottom-right-radius: 0;
  }
  .storage--left:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 1.5rem solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10.5px;
    margin-bottom: calc(-1.5rem + 3px);
  }
}
@media (min-width: 1028px) {
  .storage {
    width: 55dvw;
  }
}

@keyframes slideout {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
