@forward "./utils/reset";
@use "./variables" as var;

body {
    background-image: url("../../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 1028px) {
        background-image: url("../../images/bg-desktop.png");
        background-size: contain;
        background-position-y: bottom;
        background-color: var.$very-dark-blue;
    }
    color: var.$pale-blue;
    font-family: var.$font-family;
    font-size: var.$font-size;
    font-weight: map-get(var.$font-weight, "regular");

    display: grid;
    place-content: center;
}

.bold {
    font-weight: map-get(var.$font-weight, "bold");
}
.black {
    color: var.$very-dark-blue;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    @media (min-width: 1028px) {
        flex-direction: row;
    }
}

.header {
    padding: 3rem;
    background-color: var.$dark-blue;
    width: 86dvw;
    @media (min-width: 1028px) {
        width: 35dvw;
        max-width: 400px;
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 10px 7rem 10px 10px;
    &__actions {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        &--action {
            all: unset;
            padding: 12px;
            border-radius: 10px;
            background-color: var.$very-dark-blue;
            display: grid;
            place-content: center;
            transition: transform 0.2s ease-in-out;
            &:hover,
            &:focus-within {
                background-color: var.$dark-blue;
                outline: 3px solid var.$very-dark-blue;
                transform: scale(1.1);
            }
        }
    }
}
.storage__progressbar {
    &--progressbar {
        height: 1.5rem;
        width: 100%;
        background-color: lighten(var.$very-dark-blue, 5);
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
        &__bar {
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 1.5rem;
            height: calc(1.5rem - 6px);
            width: 81.5%;
            background: var.$gradient;
            transform-origin: center left;
            animation: slideout 1s ease-in-out;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 2px;
                right: 2px;
                border-radius: 50%;
                height: calc(1rem - 2px);
                width: calc(1rem - 2px);
                background-color: var.$pale-blue;
            }
        }
    }
    &--hero {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0.5rem;
        & span:nth-child(1) {
            margin-right: auto;
        }
    }
    padding-bottom: 10px;
}

.storage {
    padding: 2.5rem;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: var.$dark-blue;
    position: relative;
    justify-content: center;
    &--text {
        text-align: center;
        @media (min-width: 1028px) {
            text-align: unset;
        }
    }
    &--left {
        text-transform: uppercase;
        font-size: 2.5rem;
        border-radius: 10px;
        padding: 1rem 1.25rem;
        background-color: #fff;
        color: var.$very-dark-blue;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        bottom: 0;
        .small {
            font-size: var.$font-size;
        }
        p {
            display: flex;
            gap: 10px;
            flex-flow: row nowrap;
            align-items: center;
            color: var.$gray-blue;
            letter-spacing: 1px;
        }
        @media (min-width: 1028px) {
            bottom: unset;
            left: unset;
            top: 0;
            right: 30px;
            transform: translateY(-60%);
            border-bottom-right-radius: 0;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 1.5rem solid transparent;
                border-top-color: #fff;
                border-bottom: 0;
                border-right: 0;
                margin-left: -10.5px;
                margin-bottom: calc(-1.5rem + 3px);
            }
        }
    }
    @media (min-width: 1028px) {
        width: 55dvw;
    }
}

@keyframes slideout {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
